@font-face {
  font-family: "AI Design Icons";
  src: url('../../../../aid-icons-v1.1.5/fonts/aidesignicons-regular.eot');
  src: url('../../../../aid-icons-v1.1.5/fonts/aidesignicons-regular.eot?#iefix') format('eot'),
  url('../../../../aid-icons-v1.1.5/fonts/aidesignicons-regular.woff2') format('woff2'),
  url('../../../../aid-icons-v1.1.5/fonts/aidesignicons-regular.woff') format('woff'),
  url('../../../../aid-icons-v1.1.5/fonts/aidesignicons-regular.ttf') format('truetype'),
  url('../../../../aid-icons-v1.1.5/fonts/aidesignicons-regular.svg#AI Design Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.WdateDiv{
  position: relative;
  width:240px;
  background-color:#FFFFFF;
  border-radius: 4px;
  border:1px solid rgba(123,147,167,.18);
}

.WdateDiv2{
  width:500px;
}

.WdateDiv .NavImg a{
  cursor: pointer;
  font-size: 1.5rem;
  float:left;
}
.WdateDiv .NavImg a:before {
  font-family: AI Design Icons;
  display: inline-block;
  vertical-align: top;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.WdateDiv .NavImgll a:before {
  content: "\F28F";
}

.WdateDiv .NavImgl a:before{
  content:"\F293" ;
}

.WdateDiv .NavImgr a,
.WdateDiv .NavImgrr a{
  float:right;
}

.WdateDiv .NavImgr a:before{
  content: "\F294";
}

.WdateDiv .NavImgrr a:before{
  content: "\F290";
}

.WdateDiv #dpTitle{
  padding: 0 14px;
  font-size: 14px;
  text-align: center;
  height: 48px;
  line-height: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  outline: none;
  background-color: #ff5f5f;
  background-image: linear-gradient(225deg,#ff7a8c,#ff6047);
  font-size: 14px;
}

.WdateDiv .yminput{
  text-align:center;
  height:24px;
  border:0;
  width:50px;
  cursor:pointer;
  background-color: transparent;
  color:#fff;
  font-weight: bold;
  margin-top:12px;
}

.WdateDiv .yminputfocus{
  text-align:center;
  height:24px;
  border:0;
  width:50px;
  cursor:pointer;
  background-color: #fff;
  color:#fff;
  font-weight: bold;
  margin-top:12px;
  border:1px solid rgba(123,147,167,.18);
}

.WdateDiv .menuSel{
  z-index:1;
  position:absolute;
  background-color:#FFFFFF;
  border:rgba(123,147,167,.18) 1px solid;
  border-radius: 4px;
  display:none;
}

.WdateDiv .menuSel table {
  padding: 0 9px 0 14px;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 0 8px;
  border-radius: 4px;
  background-color: white;
  text-align: center;
}

.WdateDiv .menu,
.WdateDiv .menuOn{
  font-size: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  height: 24px;
  line-height: 22px;
  color: #7b93a7;
  min-width: 24px;
  padding:0;
  display: inline-block;
  vertical-align: middle;
  border-radius: 24px;
  margin-right: 5px;
  text-align: center;
}

.WdateDiv .menuOn{
  background-color: rgba(255,95,95,.1);
}

.WdateDiv .invalidMenu{
  color:#aaa;
}

.WdateDiv .YMenu{
  margin-top:40px;

}

.WdateDiv .MMenu{
  margin-top:40px;
  *width:62px;
}

.WdateDiv .hhMenu{
  margin-top:-90px;
  margin-left:26px;
}

.WdateDiv .mmMenu{
  margin-top:-46px;
  margin-left:26px;
}

.WdateDiv .ssMenu{
  margin-top:-24px;
  margin-left:26px;
}

.WdateDiv .Wweek {
  text-align:center;
  background:#DAF3F5;
  border-right:#BDEBEE 1px solid;
}

.WdateDiv .WdayTable2{
  border-collapse:collapse;
  border:0;
}
.WdateDiv .WdayTable2 table{
  border:none;
}
.WdateDiv .WdayTable2 > tbody > tr > td{
  border:0;
}
.WdateDiv .WdayTable2 > tbody > tr > td:first-child {
  border-right:1px solid rgba(123,147,167,.18);
}

.WdateDiv .WdayTable{
  padding: 0 9px 0 14px;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 0 8px;
  border-bottom:1px solid rgba(123,147,167,.18);
}
.date-pick-range table tr td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.WdateDiv .WdayTable td{
  font-size: 12px;
  cursor: pointer;
  border: 1px solid transparent;
  height: 24px;
  line-height: 22px;
  color: #7b93a7;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 5px;
}

.WdateDiv .WdayTable .MTitle td{
  padding: 0 0 3px 0;
  color: #7b93a7;
  text-align: center;
  font-size: 12px;
  height: 18px;
  line-height: 1;
  font-weight: bold;
}

.WdateDiv .Wday{
  cursor:pointer;
}

.WdateDiv .WdayOn{
  cursor:pointer;
  background-color:rgba(255,95,95,.1);
}

.WdateDiv .Wwday{
  cursor:pointer;
  color:#FF2F2F;
}

.WdateDiv .WwdayOn{
  cursor:pointer;
  background-color:rgba(255,95,95,.1);
}
.WdateDiv .WdayTable .Wtoday{
  color: #ff5f5f;
  border-color: #ff5f5f;
}
.WdateDiv .WdayTable .Wselday{
  background-color: #ff5f5f;
  background-image: linear-gradient(225deg,#ff7a8c,#ff6047);
  color:#fff;
}
.WdateDiv .WspecialDay{
  background-color:#66F4DF;
}

.WdateDiv .WotherDay{
  cursor:pointer;
  color:rgba(123,147,167,.45)!important;
}

.WdateDiv .WotherDayOn{
  cursor:pointer;
  background-color:rgba(255,95,95,.1);
}

.WdateDiv .WinvalidDay{
  color:#aaa;
}

.WdateDiv #dpTime{
  padding:8px 14px;
}

.WdateDiv #dpTime #dpTimeStr{
  font-size:14px;
  color:#7b93a7;
}

.WdateDiv #dpTime input{
  width:18px;
  height:20px;
  text-align:center;
  border:rgba(123,147,167,.3) 1px solid;
  color: #455a74;
}

.WdateDiv #dpTime .tB{
  border-right:0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.WdateDiv #dpTime .tE{
  border-left:0;
  border-right:0;
}

.WdateDiv #dpTime .tm{
  width:7px;
  border-left:0;
  border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
  height:10px;
  width:13px;
  border:0px;
  margin-top:3px;
  background:url(img.gif) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
  height:10px;
  width:13px;
  border:0px;
  background:url(img.gif) no-repeat -48px -16px;
}

.WdateDiv #dpTime .menuSel{
  margin-left:0 !important;
}

.WdateDiv #dpQS {
  position: absolute;
  left:14px;
  bottom:10px;
}
.WdateDiv #dpQS:before {
  font-family: AI Design Icons;
  display: inline-block;
  vertical-align: top;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  content: "\F2AA";
  font-size: 24px;
  color:#455a74;
}
.WdateDiv #dpControl {
  text-align:right;
  border-top:1px solid rgba(123,147,167,.18);
  padding:8px;
}
.WdateDiv .dpButton{
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 .5rem;
  height: 2rem;
  line-height: 2rem;
  transition: all .2s ease-in-out;
}
.WdateDiv #dpClearInput,
.WdateDiv #dpTodayInput{
  color: #455a74;
  border-color: rgba(123,147,167,.3);
  background: #fff;
  margin-right:8px;
}

.WdateDiv #dpOkInput {
  background-color: #ff5f5f;
  background-image: linear-gradient(225deg,#ff7a8c,#ff6047);
  color:#fff;
}

/*快速选择*/
#dpTitle + div .WdayTable {
  background-color: #fff;
  padding:0;
  border:0;
}
#dpTitle + div .WdayTable td {
  display: table-cell;
  width:100%;
  border-radius: 0;
  padding:0 14px;
  margin:0;
  box-sizing: border-box;
}